@import "tailwindcss/base";
:root {
  --bg-color: #e5e5e5;
  --text-dark: #202020;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: normal 400 16px/normal 'Poppins', sans-serif;
  color: var(--text-dark);
  background-color: var(--bg-color);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 90px;
  flex-wrap: wrap;
  gap: 40px;
}

.text-and-divider {
  display: flex;
  align-items: center;
  gap: 40px;
}

.text-content h5{
  font: italic 700 88px/1.2 'Exo 2', sans-serif;
  margin: 0;
}

.divider {
  width: 1px;
  height: 400px;
  background-color: #000;
}

.icons {
  margin-top: 20px;
  font-size: 24px;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #bdbdbd;
  min-width: 250px;
  background-color: #d9d9d9;
}

.calendar .day {
  font: italic 700 96px/normal 'Exo 2', sans-serif;
}

.calendar .month {
  font: normal 700 30px/normal 'Poppins', sans-serif;
  width: 100%;
  text-align: center;
  margin-top: -10px;
}

.calendar .year {
  font: normal 400 25px/normal Arial, sans-serif;
  letter-spacing: 2px;
  padding: 10px 0;
  border-top: 1px solid #000;
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    height: auto;
    text-align: center;
  }

  .text-and-divider {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #000;
  }

  .text-content h5 {
    font: italic 700 64px/1.2 'Exo 2', sans-serif;
  }

  .calendar {
    margin-top: 20px;
    min-width: 120px;
  }

  .calendar .day {
    font-size: 60px;
  }

  .calendar .month {
    font-size: 22px;
  }

  .calendar .year {
    font-size: 18px;
  }
}


@media (max-width: 768px) {

  main {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: auto;
    text-align: center;
  }

  .text-and-divider {
    flex-direction: column;
    gap: 20px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #000;
  }
  

  .text-content {
    font: italic 700 48px/1.2 'Exo 2', sans-serif;
  }

  .calendar {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .text-content h5{
    font: italic 700 36px/1.2 'Exo 2', sans-serif;
  }

  .calendar .day {
    font: italic 700 64px/normal 'Exo 2', sans-serif;
  }

  .calendar .month {
    font: normal 700 28px/normal 'Poppins', sans-serif;
  }

  .calendar .year {
    font: normal 400 20px/normal Arial, sans-serif;
  }
}
